*, *:before, *:after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url(https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700);
}

body {
  margin: 0 auto;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF;
}

.container {
  margin: 0px auto;
  height: 74px;
  width: 100%;
  background-color: #63C667;
  display: flex;
  align-items: center;
}

.backwards {
  padding: 26px 16px;
}

.container h1 {
  width: 100%;
  color: white;
  font-weight: 500;
  padding: 26px 16px;
}

.schedule {
  margin: 0px auto;
  padding: 0px;
  height: 100%;
  width: 100%;
}

.bschedule {
  margin: 0px;
  width: 100%;
}

.bus {
  display: flex;
  justify-content: space-between;
  padding: 18px 0px;
}

.number {
  width: 50px;
  padding-left: 16px;
}

.arrivaltime {
  font-weight: 700;
  width: 120px;
}

.nextarrival {
  display: table;
  font-weight: 300;
  color: grey;
  font-size: .8em;
  margin-top: 8px;
}

.destination {
  width: 160px;
  white-space: nowrap;
  padding-right: 16px;
}

.bus:hover {
  background-color: #b5becc;
}

.columnheads {
  margin-top: 1.66%;
  display: flex;
  justify-content: space-between;
}

.columnheads li {
  margin: 0;
  font-weight: 700;
}

hr {
  height: 1px;
}

.busline {
  margin: 0px;
}

h2 {
  margin: 0px;
  padding: 2% 16px;
  font-weight: 300;
  font-size: 12px;
  background-color: #FFFFFF;
  color: #757575;
  text-transform: uppercase;
}

.reroute {
  color: red;
}

.reroute .arrivaltime {
  font-weight: 400;
}

.oos {
  color: grey;
}

.oos .arrivaltime {
  font-weight: 400;
}

.header {
  margin-bottom: -4px;
  width: 100%;
}

.bottom {
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 575px){
  body {
    width: 80%;
  }
}

@media screen and (min-width: 991px){
  body {
    width: 70%;
  }
  .header {
    display: none;
  }
  .bottom {
    display: none;
  }
}
