*, *:before, *:after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url(https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700);
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: #63C667;
}

.container {
  margin: 0px auto;
  width: 100%;
}

.titlebox {
  margin: 41px 56px;
  width: 100%;
  background-color: inherit;
}

.titlebox h1 {
  color: white;
  font-weight: 500;
}

.schedule {
  margin: 0px auto;
  height: 437px;
  width: 100%;
  background-color: #FFFFFF;
}

.columnheads {
  margin: 0px;
}

.columnheads h2 {
  float: left;
  margin: 1.66%;
  padding: 1.66% 1.66%;
  width: 30%;
  font-weight: 700;
}

hr {
  height: 1px;
}

.busline {
  margin: 0px;
}

.busline h2 {
  margin: 0px 10%;
  padding: 2% 0px;
  font-weight: 500;
}

.blines {
  margin: 0px;
}

.blines h2 {
  float: left;
  margin: 1.66%;
  padding: 1.66% 1.66%;
  width: 30%;
}
